<div class="new-comment">
    <form method="post">
          <label for="name"> Name</label>
          <input type="text" name="name" value="{{ args.name }}"><br>
          <label for="comment">Comment</label>
          <textarea rows="5" name="body">{{ args.body }}</textarea>
          <input type="hidden" name="id" value="{{ post.id }}">
          <input type="submit" value="Post Comment" class="button">

          {% for key, value in csrf_comment %}
              <input type="hidden" name="{{ key }}" value="{{ value }}">
          {% endfor %}
    </form>
</div>
