{% extends "base.twig" %}

{% block title %}{{ post.getTitle() }}{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div>{{ args.error }}</div>
        <div class="entry-list single">
            <article>
                <h1>{{ post.getTitle() }}</h1>
                <time datetime="{{ post.getRawDate() }}">{{ post.getFormattedDate() }}</time>
                <div class="entry">
                   {{ post.getBody() }}

                    <p><a class="link" href="{{ path_for('edit-post', { 'post_id': post.getId() }) }}">Edit Entry</a></p>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="entry-comments">
    <div class="container">
            <h2>Comments</h2>

            {% for comment in comments %}
                {{ include("comment.twig") }}
            {%  else %}
              No comments
            {% endfor %}

            {{ include("comment_form.twig") }}


    </div>
</section>
{% endblock %}
