<form method="post" action="{{ path_for('delete-tag')}}" onsubmit="return confirm('Are you sure you want to delete this tag?');">
  <p class="tag_name">#{{ tag.name }}</p>
  <input type="hidden" value="{{ tag.id }}" name="delete">
  <a href="{{ path_for('edit-tag', {'id':tag.id })}}" class="button">Edit</a>
  &nbsp;<input type="submit" value="Delete" class="button">

  {% for key, value in csrf %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
  {% endfor %}

</form>
