{% if args.id is not empty %}
  {% set path = path_for('edit-tag',{'id': args.id }) %}
  {% set button = "Update" %}
  {% set legend = "Update Tag" %}
{% else %}
  {% set path = path_for('new-tag') %}
  {% set button = "Add" %}
  {% set legend = "New Tag" %}
{% endif %}

<form method="post" action="{{ path }}">
  <fieldset>
    <legend>{{ legend }}</legend>
    <input id="tag_name" type="text" name="name" value="#{{ args.name }}" />
    &nbsp;<input type="submit" value="{{button}}" class="button">
    {% if args.id is not empty %}
      <input type="hidden" name="id" value="{{ args.id }}">
      <a href="{{ path_for('tags-list') }}" class="button button-secondary">Cancel</a>
    {% endif %}
    {% for key, value in csrf %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}
  </form>
</fieldset>
